PORT=5000

MONGO_URI=mongodb+srv://mvsingh446_db_user:omMansi%40123@cluster0.t6oilvf.mongodb.net/shopnet-mern?retryWrites=true&w=majority&appName=Cluster0


JWT_SECRET=xwteqjtsyqlpinvr

EMAIL_USER=mvsingh446@gmail.com
EMAIL_PASS=yfpbcnjckeczoqdd

CLOUDINARY_CLOUD_NAME=duuwe48lp
CLOUDINARY_API_KEY=839688858832271
CLOUDINARY_API_SECRET=whJnv6jKHTbxikagyENCJrIuEUE

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=